{% extends 'base.html' %}

{% block body %}
<div class="container my-5">
    <h1 class="display-4">{{blog.title}}</h1>
    <p class="text-muted">{{blog.published_at}}</p>
    <div class="lead my-3">
        {{blog.description|safe}}
    </div>
    <div class="text-center">
        {% if blog.video_link %}
            <iframe src="{{blog.video_link}}" height="300px" width="500px" frameborder="0" ></iframe>
        {% endif %}
    </div>

    {% if user.is_authenticated %}
        <div class="my-2">
            <form action="{% url 'comment' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="path" value="{{request.path}}">
                <input type="hidden" name="blog_id" value={{blog.id}}>
                <textarea rows="5" name="comment" placeholder="Comment..." class="form-control" required></textarea>
                <input type="submit" value="Comment" class="btn btn-primary mt-2">
            </form>
        </div>
    {% endif %}
    <div class="container">
        {% for c in comments %}
            <div class="border-bottom">
                <p class="text-primary">{{c.user.first_name}} {{c.user.last_name}}</p>
                <p>{{c.comment}}</p>
            </div>
        {% endfor %}
    </div>
    
</div>

{% endblock body %}