{% extends 'base.html' %}

{% block body %}
<div class="contaienr">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card my-5">
              <div class="card-header">
                <h3>Sign In</h3>
              </div>  
              <div class="card-body">
                <form action="{% url 'signin' %}" method="POST">
                    {% csrf_token %}
                    <div class="text-center">
                        {% for m in messages %}
                            <p class="{{m.tags}}">{{m}}</p>
                        {% endfor %}
                    </div>
                    <div class="mb-1">
                        <label>Username</label>
                        <input type="text" name="username" class="form-control" required>
                    </div>
                    <div class="mb-1">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>
                    <input type="submit" value="Sign In" class="btn btn-primary w-100 my-2">
                </form>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}